
.header {
  background-color: black;
  text-align: center;
  padding: 20px;
  font-family: "Georgia", Times, sans-serif;
  font-style: italic;
  font-size: 30px;
  line-height: 1;
  color:red;
  font-weight: normal;
}

.nav {
  overflow: hidden;
  background-color: red;
}

.nav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 30px;
  font-family: "Georgia", Times, sans-serif;
}

.ko {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 30px;
  font-family: "Georgia", Times, sans-serif;
  background-color: black;
}

.data:link {
  color: black;
}

.data :visited {
  color: black;
}

.b{
  background-image: url(bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.list{
  list-style-type: none;
  font-size: 25px;
  padding-left: 20px;
  line-height: 2;
}
